<h1>New Movies Batch</h1>

<%= form_with(url: 'upload_json', method: 'POST', format: 'json') do |form| %>
  <div class="field">
    <%= form.label :json_file, 'Upload JSON File' %>
    <%= form.file_field :json_file, class: 'form-control' %>
  </div>

  <%= form.submit 'Upload', class: 'btn btn-primary' %>

<% end %>
